%p
  Facebook

  = link_to 'disconnect', provider_path(provider.name), method: :delete
  \-
  = link_to 'new page feed', new_facebook_page_path
  \-
  = link_to 'your photos feed', new_facebook_photos_path

