%p
  = provider.name
  = link_to 'disconnect', provider_path(provider.name), method: :delete
  \-
  = link_to 'new user feed', new_instagram_user_path
  \-
  = link_to 'new tag feed', new_instagram_tag_path

