%p
  = provider.name
  = link_to 'disconnect', provider_path(provider.name), method: :delete
  \-
  = link_to 'new user timeline feed', new_twitter_timeline_path
  \-
  = link_to 'new search feed', new_twitter_search_path
