%h2 Providers

%h3 Available Services

- unless current_user.has_provider?('twitter')
  %p
    = link_to 'Twitter', '/auth/twitter'

- unless current_user.has_provider?('instagram')
  %p
    = link_to 'Instagram', '/auth/instagram'

- unless current_user.has_provider?('facebook')
  %p
    = link_to 'Facebook', '/auth/facebook'

%h3 Creata a Feed
  = link_to "Instagram", new_feed_path(provider: 'instagram')

%h3 Your Connected Services

- current_user.providers.each do |provider|
  %p
    = provider.name
    = link_to 'disconnect', provider_path(provider.name), method: :delete
