- feeds = current_user.feeds_for(type)

%table.pure-table.pure-table-horizontal.max.feeds-table
  %tbody
    %tr
      - if feeds.empty?
        %td{colspan: 3, class: 'no-feeds-message'}
          %p
            You don't have a feed

      - else
        - feeds.each do |feed|
          - feed = "Presenters::Feeds::#{type.classify}".constantize.new(feed)
          %tr
            %td
              = feed.query
              -#Word Search: Lots of text to test test test testing green eggs and ham

            %td
              %span{title: feed.fetched_at}
                = "#{time_ago_in_words(feed.fetched_at)} ago" if feed.fetched_at
                = "waiting..." unless feed.fetched_at

            %td.right-align
              %a{ class: "btn-floating tooltipped", href: url_for_api(feed.id), target: '_blank', data: { position: "top", tooltip: "Open" } }
                %i.material-icons.small launch




