- feeds = current_user.feeds_for(type)

%table.pure-table.pure-table-horizontal.max.feeds-table
  - unless feeds.empty?
    %thead
      %tr
        %th{ colspan: 4 } Your #{type.capitalize} Feeds
  %tbody
    %tr
      - if feeds.empty?
        %td{colspan: 4, class: 'no-feeds-message'}
          %p
            You don't have any #{type} feeds.

      - else
        - feeds.each do |feed|
          - feed = "Presenters::Feeds::#{type.classify}".constantize.new(feed)
          %tr
            %td
              = feed.query
              -#Word Search: Lots of text to test test test testing green eggs and ham

            %td
              %span{title: feed.fetched_at}
                = "#{time_ago_in_words(feed.fetched_at)} ago" if feed.fetched_at
                = "waiting..." unless feed.fetched_at

            %td.right-align
              %a{ class: "btn-floating tooltipped", href: url_for_api(feed.id), target: '_blank', data: { position: "top", tooltip: "Open" } }
                %i.material-icons.small launch

            %td.right-align
              = link_to feed_path(feed.feed), method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this feed forever?', position: "top", tooltip: "Delete!" }, class: 'warning tooltipped delete-feed' do
                %i.material-icons.small delete_forever


