.side-menu
  %ul
    - current_user.feeds.each do |feed|
      %li= link_to feed.provider.name, feed

.main-content
  %h3 Last Fetched
  .last-fetched.box.box-light
    %p
      - if @feed.fetched_at
        Last fetched on #{time_ago_in_words(@feed.fetched_at)}
      - else
        Feed hasn't been fetched yet


  %h3 API Endpoint
  .api-endpoint.box.box-light
    %code
      %pre
        http://api.bitsalad.co/v1/feeds/#{@feed.id}

