%h2.center-align
  Resend Confirmation Instructions
  
%p.center-align.flow-text
  Tell us your email and we'll resend you instructions on how to activate your account.

= form_for(resource, as: resource_name, url: confirmation_path(resource_name),html: { method: :post, class: 'col s12' }) do |f|

  =render partial: 'devise/shared/devise_error_messages'

  .row
    .input-field.col.s12.m6.offset-m3

      = f.label :email, class: 'active'
      = f.email_field :email, autofocus: true

  .row.center-align
    %button.btn-large.waves-effect.waves-light SEND EMAIL

  %p.center-align= render "devise/shared/links"


/ %h2 Resend confirmation instructions
/ = form_for(resource, as: resource_name, url: confirmation_path(resource_name),html: { method: :post, class: 'pure-form pure-form-stacked' }) do |f|
/   = devise_error_messages!
/
/   %fieldset
/     = f.label :email
/     = f.email_field :email, autofocus: true
/     = f.submit "Resend", class: 'pure-button'
/
/ = render "devise/shared/links"
