%h2.center-align Sign Up
%p.center-align.flow-text Get Started With a Free Account

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'col s12' }) do |f|

  =render partial: 'devise/shared/devise_error_messages'

  .row
    .input-field.col.s12.m6.offset-m3
      = f.label :email, class: 'active'
      = f.email_field :email, autofocus: true

    .input-field.col.s12.m6.offset-m3
      = f.label :password, class: 'active'
      = f.password_field :password, autocomplete: "off"

    .input-field.col.s12.m6.offset-m3
      = f.label :password_confirmation
      =f.password_field :password_confirmation, autocomplete: "off"

  .row.center-align
    %button.btn-large.waves-effect.waves-light CREATE MY ACCOUNT

  %p.center-align= render "devise/shared/links"



/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-custom pure-form pure-form-stacked' }) do |f|
/   = devise_error_messages!
/   %fieldset
/     = f.label :email
/     = f.email_field :email, autofocus: true
/     = f.label :password
/     = f.password_field :password, autocomplete: "off"
/     = f.label :password_confirmation
/     = f.password_field :password_confirmation, autocomplete: "off"
/     = f.submit "Sign up", class: 'pure-button'

/ = render "devise/shared/links"