= form_for @timeline do |form|
  - if @timeline.errors.any?
    %ul
      - @timeline.errors.full_messages.each do |msg|
        %li
          = msg

  = form.text_field :screen_name
  = form.submit

