%h2.center-align
  Reset Password

%p.center-align.flow-text
  Tell us your email and we'll send you instructions on how to reset your password.

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'col s12', method: :post }) do |f|

  =render partial: 'devise/shared/devise_error_messages'

  .row
    .input-field.col.s12.m6.offset-m3

      = f.label :email, class: 'active'
      = f.email_field :email, autofocus: true

  .row.center-align
    %button.btn-large.waves-effect.waves-light SEND EMAIL

  %p.center-align= render "devise/shared/links"




/ = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'pure-form pure-form-stacked', method: :post }) do |f|
/   = devise_error_messages!
/   %fieldset
/     = f.label :email
/     = f.email_field :email, autofocus: true
/     = f.submit "Send", class: 'pure-button'
/
/ = render "devise/shared/links"
