
.section.center-align
  %h2.header
    You want JSON? We serve JSON!

  .container
    %p.splash
      Fast helpings of your tweets, instagram photos, and other crunchy stuff like that...

  %p= link_to 'SIGN UP FREE', new_user_registration_path, class: 'btn-large waves-effect waves-light'

.section
  .row
    .col.s12.m6
      %p.center-align
        = image_tag "salad_monster_a.png", alt: "Salad Monster"

      %h4
        GOOD FOR HEALTH
      %p.flow-text
        Fiddling around with API keys and authentication can cause pain. Buddying up with BitSalad frees up your time, so you can get back to being a kick-ass developer.

    .col.s12.m6
      %p.center-align
        = image_tag "salad_monster_b.png", alt: "Salad Monster"

      %h4
        FREE vSpringLeaf
      %p.flow-text
        We've released BitSalad early and will be adding more APIs and functionality incrementally. BitSalad is currently completely free to use, and we'll always offer a free lunch; at the moment, we're thinking this will include 10,000 requests per day and as many feeds as you can handle!
