%h2.center-align Connect

.row
  -#.col.s12
    -#%p.flow-text.center-align if green === 'on' && red === 'off' then 'you grok how this works'

  .col.s12.m6.offset-m3
    %table.highlight
      %thead
        %tr
          %th{ colspan: 2 } Service
      %tbody
        - %w{instagram twitter}.each do |service|

          - on_off_status = current_user.has_provider?(service) ? 'on' : 'off'

          %tr
            %td{ class: "#{on_off_status} nostretch" }
              %i{ class: "icon-social-#{service}" }

            %td{ class: "#{on_off_status}" }
              = service

            %td.right-align
              - classes = ["btn-floating", ("disabled" unless current_user.has_provider?(service)), ("tooltipped" if current_user.has_provider?(service))]

              %a{ class: classes, href: '#', data: { position: "top", tooltip: "Build feeds" } }
                %i.material-icons build

            %td.right-align.nostretch
              - if current_user.has_provider?(service)
                = link_to provider_path(current_user.provider_for(service)), method: :delete, class: 'tooltipped', data: { position: 'top', tooltip: 'Disconnect', confirm: "Are you sure? Connected feeds will also be destroyed."} do
                  %i{ class: "icon-zap on rotate" }
              - else
                = link_to "/auth/#{service}", class: "tooltipped", data: { position: "top", tooltip: 'Connect' } do
                  %i{ class: "icon-zap off rotate" }

  .col.s12
    %p.center-align
      We're still making BitSalad: <a href="#">Let us know</a> which service we should add next.


%h2.center-align Your Instagram Feed
.row{style: 'display:none'}
  .col.s12
    %ul{ class: "collapsible", data: {collapsible: "expandable"} }
      %li
        .collapsible-header By Tag
        .collapsible-body.padding-around
          .row
            .col.s12.m6
              .section.flow-text Get recently tagged media
            .section
              = form_for Instagram::Tag.new, remote: true, html: { class: 'build-feeds-form' } do |f|
                .input-field.col.s12.m6
                  = f.text_field :tag
                  = f.label :tag, "Instagram tag"

                .input-field.col.s12
                  = f.submit 'build', class: 'btn waves-effect waves-light'
                  %span.errors

      %li
        .collapsible-header By User
        .collapsible-body.padding-around
          .row
            .col.s12.m6
              .section.flow-text Get the most recent media published by a user

            .section
              = form_for Instagram::User.new, remote: true, html: { class: 'build-feeds-form' } do |f|
                .input-field.col.s12.m6
                  = f.text_field :handle
                  = f.label :handle, "Instagram handle"

                .input-field.col.s12
                  = f.submit 'build', class: 'btn waves-effect waves-light'
                  %span.errors

.row
  .col.s12
    .section
      .feeds-table.instagram
        = render partial: 'feeds/instagram', locals: { type: 'instagram' }



%h2.center-align Build Twitter Feeds
.row
  .col.s12
    %ul{ class: "collapsible", data: {collapsible: "expandable"} }
      %li
        .collapsible-header By Person
        .collapsible-body.padding-around
          .row
            .col.s12.m6
              .section.flow-text Returns a collection of the most recent Tweets posted by the twitter user indicated.

            .section
              = form_for Twitter::Timeline.new, remote: true, html: { class: 'build-feeds-form' } do |f|
                .input-field.col.s12.m6
                  %span.prefix @
                  = f.text_field :screen_name
                  = f.label :screen_name, "Twitter username"

                .input-field.col.s12
                  = f.submit 'build', class: 'btn waves-effect waves-light'
                  %span.errors

      %li
        .collapsible-header By Word Search
        .collapsible-body.padding-around
          .row
            .col.s12
              .section.flow-text Returns a collection of the most recent Tweets matching the words, phrases, and hashtags indicated.

            .section
              = form_for Twitter::Search.new, remote: true, html: {class: 'build-feeds-form'} do |f|

                .input-field.col.s12.m6
                  = text_field_tag :all
                  = label_tag :all, "All of these words"


                .input-field.col.s12.m6
                  = text_field_tag :any
                  = label_tag :any, "Any of these words"

                .input-field.col.s12.m6
                  = text_field_tag :exact
                  = label_tag :exact, "This exact phrase"

                .input-field.col.s12.m6
                  = text_field_tag :none
                  = label_tag :none, "None of these words"

                .input-field.col.s12.m6
                  = text_field_tag :hash
                  = label_tag :hash, "These hastags"

                .input-field.col.s12
                  %input{ :type => "submit", value: 'build', class: 'btn waves-effect waves-light' }
                  %span.errors

.row
  .col.s12
    .section
      .feeds-table.twitter
        = render partial: 'feeds/table', locals: { type: 'twitter' }




    %blockquote.flow-text
      More coming soon: <a href="#">Let us know</a> what you need.





/ - if current_user.has_provider?('twitter')
/   = render partial: 'twitter/dashboard'
/
/ - if current_user.has_provider?('instagram')
/   = render partial: 'instagram/dashboard'
/
/ - if current_user.has_provider?('facebook')
/   = render partial: 'facebook/dashboard'
/
/
/ %p Connect to services you want to create feeds for.
/
/ %table.pure-table.pure-table-horizontal.max.borderless
/   %thead
/     %tr
/       %th Service
/       %th Connection
/   %tbody
/     - %w{facebook twitter instagram}.each do |service|
/       %tr
/         %td
/           %span{class: "icon-social-#{service} icon icon-mid"}
/             = service
/         %td
/           - unless current_user.has_provider?(service)
/             = link_to "/auth/#{service}" do
/               %span.icon.icon-zap.off CONNECT
/           - else
/             %span.icon-zap.icon.on DISCONNECT
/
