/ .feed
/   .pure-menu.pure-menu-horizontal
/     %span.pure-menu-heading Twitter
/     %ul.resources.pure-menu-list.menu-twitter
/       %li.pure-menu-item.active
/         = link_to 'Timeline', '#', data: { tab: 'timeline', section: 'twitter' }
/       %li.pure-menu-item
/         = link_to 'Search', '#', data: { tab: 'search', section: 'twitter' }
/
/   .feed-section.twitter-timeline.twitter
/     %p.form-notice
/       Enter a twitter users' handle, without the @
/
/     = form_for Twitter::Timeline.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
/       %fieldset
/         = form.text_field :screen_name, class: 'pure-input-1-3 text-field'
/         = form.submit 'create', class: 'pure-button'
/         %span.errors
/
/   .feed-section.twitter-search.twitter{style: 'display:none'}
/     %p.form-notice
/       Enter a twitter search query.
/
/     = form_for Twitter::Search.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
/       %fieldset
/         = form.text_field :q, class: 'pure-input-1-3 text-field'
/         = form.submit 'create', class: 'pure-button'
/         %span.errors
/
/   .feeds-table.twitter
/     = render partial: 'feeds/table', locals: { type: 'twitter' }
