.feed
  .pure-menu.pure-menu-horizontal
    %span.pure-menu-heading Facebook
    %ul.resources.pure-menu-list.menu-facebook
      %li.pure-menu-item.active
        = link_to 'Profile', '#', data: { tab: 'user', section: 'facebook' }
      %li.pure-menu-item
        = link_to 'Page', '#', data: { tab: 'page', section: 'facebook' }

  .feed-section.facebook-page.facebook{style: 'display:none'}
    %p.form-notice
      Get recently published posts for a Facebook Page

    = form_for Facebook::Page.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
      %fieldset
        = form.text_field :page, class: 'pure-input-1-3', placeholder: "Facebook page name or ID"
        = form.submit 'create', class: 'pure-button'
        %span.errors


  .feed-section.facebook-user.facebook
    %p.form-notice
      Your latest posts

    = form_for Facebook::UserFeed.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
      %fieldset
        = form.submit 'create', class: 'pure-button'
        %span.errors

  .feeds-table.facebook
    = render partial: 'feeds/table', locals: { type: 'facebook' }
