%h2 Privacy Policy

%p This Privacy Policy governs the manner in which BitSalad collects, uses, maintains and discloses information collected from users (each, a "User") of the #{link_to "bitsalad.co", 'http://bitsalad.co'} website ("Site"). This Privacy Policy applies to the Site and all products and services offered by BitSalad.

%h5 Personal identification information

%p We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, and in connection with other activities, services, features or resources we make available on our Site. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.

%h5 Non-personal identification information

%p We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.

%h5 Web browser cookies

%p Our Site may use "cookies" to enhance User experience. A User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. Users may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.

%h5 How we use collected information

%p BitSalad may collect and use Users personal information for the following purposes:

%dl
  %dt To improve customer service:
  %dd
    Information you provide helps us respond to your customer service requests and support needs more efficiently.

  %dt To personalize user experience:
  %dd
    We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.

  %dt To improve our Site:
  %dd
    We may use feedback you provide to improve our products and services.

  %dt To process payments:
  %dd
    We may use the information Users provide about themselves when placing an order only to provide service to that order. We do not share this information with outside parties except to the extent necessary to provide the service.

  %dt To send periodic emails.


%p We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If a User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email or a User may contact us via our Site.

%h5 How we protect your information

%p We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.

%h5 Sharing your personal information

%p We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.

%h5 Changes to this Privacy Policy

%p BitSalad has the discretion to update this Privacy Policy at any time. When we do, we will post a notification on the main page of our Site, and revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this Privacy Policy periodically and become aware of modifications.

%h5 Your acceptance of these terms

%p By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed as your acceptance of those changes.

%br/
%p This document was last updated on 26 February 2016
