%h2.center-align Log In

= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'col s12'}) do |f|

  .row
    .input-field.col.s12.m6.offset-m3
      = f.label :email
      = f.email_field :email, autofocus: true

    .input-field.col.s12.m6.offset-m3
      = f.label :password
      = f.password_field :password, autocomplete: "off"

    .col.s12.m6.offset-m3
      = f.check_box :remember_me
      = f.label :remember_me, 'Remember me'

  .row.center-align
    %button.btn-large.waves-effect.waves-light LOG IN

  %p.center-align= render "devise/shared/links"


/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'pure-form pure-form-stacked'}) do |f|
/
/   %fieldset
/     = f.label :email
/     = f.email_field :email, autofocus: true
/     = f.label :password
/     = f.password_field :password, autocomplete: "off"
/     = f.label :remember_me, class: 'pure-checkbox' do
/       = f.check_box :remember_me
/       Remember me
/
/     = f.submit 'Log in', class: 'pure-button'
/
/ = render "devise/shared/links"
