.feed
  .pure-menu.pure-menu-horizontal
    %span.pure-menu-heading Instagram
    %ul.resources.pure-menu-list.menu-instagram
      %li.pure-menu-item.active
        = link_to 'Tag', '#', data: { tab: 'tags', section: 'instagram' }
      %li.pure-menu-item
        = link_to 'User', '#', data: { tab: 'user', section: 'instagram' }

  .feed-section.instagram-user.instagram{style: 'display:none'}
    %p.form-notice
      Get the most recent media published by a user

    = form_for Instagram::User.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
      %fieldset
        = form.text_field :handle, class: 'pure-input-1-3', placeholder: "User's handle, without @"
        = form.submit 'create', class: 'pure-button'
        %span.errors


  .feed-section.instagram-tags.instagram
    %p.form-notice
      Get recently tagged media

    = form_for Instagram::Tag.new, remote: true, html: {class: 'create-feed pure-form'} do |form|
      %fieldset
        = form.text_field :tag, class: 'pure-input-1-3', placeholder: "e.g. cats"
        = form.submit 'create', class: 'pure-button'
        %span.errors


  .feeds-table.instagram
    = render partial: 'feeds/table', locals: { type: 'instagram' }

