$link-color: #00949D;
$link-color-hover: lighten($link-color, 10%);
$primary-text-color: #3a3a3a;
$grey: #777;
$red: rgb(255,0,0);
$light-bg: rgb(250, 250, 250);
$green: #88C528;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $primary-text-color;
}

main {
  flex: 1 0 auto;
}

.content {
  padding: 0 2em;
  max-width: 1080px;
  margin: 0 auto;
  @media (max-width: 600px) {
    padding: 0 1em;
    text-align: center;
  }
}

.padding-around {
  padding: 2rem !important;
}

.page-footer {
  margin-top: 50px;
}

h2 {
  font-weight: 100;
  color: $grey;
}

h4 {
  color: $red;
}

h5 {
  margin-top: 1em !important;
}

a {
  color: $link-color;
  transition: color .3s ease;
  &:not(.btn):not(.btn-large):hover {
    color: $link-color-hover;
  }
  &.warning:hover {
    color: $red !important;
  }
}
