@import 'base';

.devise_error_messages {
  margin: 3em 0 2em 0;
  color: $red;
  h2 {
    color: $red;
    font-size: 150%;
  }
}

.flash_notice {
  font-weight: bold;
  text-align: center;
  &.error, &.alert {
    color: $red;
  }
}