@import 'base';

@charset "UTF-8";

@font-face {
  font-family: "bitsalad";
  src:asset-url("bitsalad.eot");
  src:asset-url("bitsalad.eot?#iefix") format("embedded-opentype"),
    asset-url("bitsalad.woff") format("woff"),
    asset-url("bitsalad.ttf") format("truetype"),
    asset-url("bitsalad.svg#bitsalad") format("svg");
    font-weight: normal;
}

[data-icon]:before {
  font-family: "bitsalad" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "bitsalad" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

.icon-social-facebook:before {
  content: "i";
}
.icon-social-instagram:before {
  content: "j";
}
.icon-social-twitter:before {
  content: "k";
}
.icon-social-youtube:before {
  content: "l";
}
.icon-social-path:before {
  content: "m";
}
.icon-social-tumblr:before {
  content: "n";
}
.icon-social-vimeo:before {
  content: "o";
}
.icon-social-google-plus:before {
  content: "p";
}
.icon-social-github:before {
  content: "q";
}
.icon-social-flickr:before {
  content: "r";
}
.icon-social-picasa:before {
  content: "s";
}
.icon-social-linkedin:before {
  content: "t";
}
.icon-zap:before {
  content: "u";
}
.icon-plug:before {
  content: "v";
}
.icon-trashcan:before {
  content: "w";
}
.icon-widget:before {
  content: "a";
}
.icon-refresh:before {
  content: "b";
}

.icon-zap.on {
  color: $green;
  &:hover {
    color: $red;
  }
}

.icon-zap.off {
  color: $red;
  &:hover {
    color: $green;
  }
}

.icon-mid {
  font-size: 120%;
}

.icon-link:before {
  content: "c";
}

.api-link {
  position: relative;
  top: 3px;
}
