@import 'base';

.header nav {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(239,239,239,1);
  .brand-logo {
    height: 46px;
    margin: 9px 0;
    @media (max-width: 600px) {
      height: 38px;
    }
  }
  ul li a:not(.btn) {
    color: $link-color;
    font-weight: 400;
    &:hover {
      color: $link-color-hover;
      background: $light-bg;
    }
  }
  ul#slide-out {
    background: $green;
    text-align: left;
    li a {
      color: #fff;
      &:hover {
        color: $link-color-hover;
        background: #fff;
      }
    }
    li:hover {
      background: #fff;
    }
  }
  .mdi-navigation-menu:before {
    color: $link-color;
  }
}

//.header {
//  border-bottom: 1px solid #dedcd7;
//
//  padding: 1.4em 0;
//  .content {
//    margin-bottom: 0;
//  }
//}
//
//.logo  {
//  font-weight: 500;
//  color: #84C44A;
//  position: relative;
//  display: inline;
//  position: relative;
//  font-size: 150%;
//  font-family: "Lato", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//}
//
//.session-links {
//  float: right;
//
//  a {
//    margin-left: 10px;
//    /*border: 1px solid #333;*/
//    padding: 0.6em;
//    /*border-radius: 5px;*/
//    /*color: #333;*/
//  }
//}
//
//
//#footer {
//  border-top: 1px solid #dedcd7;
//  margin-top: 30px;
//  padding: 10px 0;
//
//  .content {
//    margin-bottom: 0;
//  }
//
//  .menu {
//    float: right;
//  }
//}
//
//
