.splash {
  font-size: 2em;
  color: black;
}




//html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
//  font-family: sans-serif;
//  font-weight: 100;
//  letter-spacing: 0.01em;
//}
//
//body {
//  color: #777;
//  font-weight: 100;
//  letter-spacing: 0.15px;
//}
//
//h1, h2, h3 {
//  font-weight: 300;
//}
//
//a {
//  text-decoration: none;
//
//  span.icon {
//    color: #777;
//  }
//}
//
//a:hover {
//  color: #777;
//}
//
//.flash_notice {
//  color: green;
//  border: 1px solid #222;
//  padding: 10px;
//}
//
//#layout {
//  position: relative;
//  padding-left: 0;
//}
//
//.content {
//  margin: 0 auto;
//  padding: 0 2em;
//  width: 1080px;
//  margin-bottom: 50px;
//  line-height: 1.6em;
//
//  p {
//   font-size: 1.125em;
//  }
//}
//
//.pure-menu-item a {
//  padding: .5em 1em;
//}
//
//.pure-menu-item.active a {
//  background: #eee;
//  color: #777;
//}
//
//.feed-section {
//  margin-top: 10px;
//  padding: 10px;
//  border: 1px solid #eee;
//  border-bottom: none;
//  background: rgb(250, 250, 250);
//}
//
//p.form-notice {
//  margin: 0;
//  font-size: 0.9em;
//}
//
//
//.feed {
//  margin-top: 40px;
//}
//
//.content {
//  .splash {
//    font-size: 3em;
//  }
//
//  .sub {
//    font-size: 2em;
//    line-height: 1.2em;
//  }
//}
