@import 'base';

table {
  border-collapse:collapse;
  tbody tr {
    &:hover {
      background: $light-bg !important;
    }
    td {
      line-height: 1;
      &.off {
        opacity: .3;
      }
    }
    .nostretch {
      width: 1%;
    }
  }
}

// ON/OFF ROTATE ANIMATION
.rotate {
  -webkit-transition:all .3s ease-out .3s;
  -moz-transition:all .3s ease-out .3s;
  -ms-transition:all .3s ease-out .3s;
  -o-transition:all .3s ease-out .3s;
  transition:all .3s ease-out .3s;
  display: inline-block;
}

tbody i.rotate.off:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}

tbody i.rotate.on:hover {
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -ms-transform:rotate(-360deg);
  -o-transform:rotate(-360deg);
  transform:rotate(-360deg);
}


//tr.clickable {
//
//}
//
//.pure-table {
//  .uri  {
//    text-align: center;
//  }
//}
//
//.service-uri {
//  font-family: monospace;
//  padding: 3px;
//}
//
//.pure-table {
//  td.service-detail {
//    background: #fffff1;
//  }
//}
//
//.button-small {
//  padding: .4em .8em;
//}
//
//.errors {
//  color: red;
//  font-size: 90%;
//}
//
//
//table.pure-table {
//  border-color: #eee;
//
//  tr, td, th {
//    border-color: #eee;
//  }
//}
//
//
//.pure-table thead {
//  background-color: white;
//  color: #777;
//}
//
//table.max {
//  width: 100%;
//}
//
//.feeds-table {
// margin-bottom: 50px;
//}
