.header

  %nav
    .content.nav-wrapper
      - unless current_page?(root_url)
        %a.brand-logo{href: '/'}
          = image_tag "logo.png", alt: "BitSalad"

      - else
        %a.brand-logo{href: '/', onclick: 'return false'}
          = image_tag "logo.png", alt: "BitSalad"

      %ul#nav-mobile.right.hide-on-med-and-down
        - unless current_user || current_page?(new_user_registration_path)
          %li= link_to 'Sign Up Free', new_user_registration_path, class: 'btn waves-effect waves-light'

        - unless current_user || current_page?(new_user_session_path)
          %li= link_to 'Log in', new_user_session_path, class: ''

        - if current_user
          %li= link_to 'Log out', destroy_user_session_path, method: :delete, class: ''

      %ul#slide-out.side-nav
        - unless current_user
          %li= link_to 'Sign Up Free', new_user_registration_path, class: ''
          %li= link_to 'Log In', new_user_session_path, class: ''

        - else
          %li= link_to 'Log Out', destroy_user_session_path, method: :delete, class: ''

      %a.button-collapse{href: "#", data:{activates: "slide-out"}}
        %i.mdi-navigation-menu


/ .header
/   .content
/     %a.logo{href: '/'}
/       Bitsalad
/
/
/     .session-links
/       - unless current_user
/         = link_to 'Log in', new_user_session_path, class: ''
/         = link_to 'Sign up', new_user_registration_path, class: ''
/
/       - else
/         = link_to 'Logout', destroy_user_session_path, method: :delete, class: ''
