!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    %title
      Quick access to your tweets and instagram photos as JSON.

    = csrf_meta_tags

    = stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"


    // TO REMOVE - ADD MATERIALIZE VIA GEM
    = javascript_include_tag "application"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"

    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
    = stylesheet_link_tag "application", media: "all"

  %body
    = render partial: 'layouts/header'

    %main
      .content
        - [:notice, :error, :alert].each do |level|
          - if flash[level]
            %p{class: ['flash_notice', level]}
              = flash[level]

        = yield

    .page-footer
      .container
        %p.center
          © 2016 BitSalad -
          = link_to 'Privacy', privacy_path
          and
          = link_to 'Terms', terms_path

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36973797-2', 'auto');
      ga('send', 'pageview');
